body>.stellarnav {

  &.fixed {
    background: $medium-blue;
  }

  &.light {

    ul li:hover a,
    ul ul {
      background: $medium-blue;
    }

    li a {
      color: white;

      background: $medium-blue;

      @media (min-width: $medium) {
        background: none;
      }
    }
  }
}