* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.container {
    width: 375px;
    margin: 0 auto;
    @media (min-width: $medium) {
        width: 690px;
    }
    @media (min-width: $large) {
        width: 1110px;
    }
}

img {
    display: block;
    width:100%;
}
li {
    list-style-type: none;
}

a {
    color: $link-color;
    text-decoration: none;
}
.logotype {
    width: 345px;
    margin: 0;
    padding: 0;
}