@charset "UTF-8";

/*--- GRILLE 12 colonnes > max 960px ---*/

/* conteneur - container - wrapper */

.row {
    max-width: 1024px;
}

.flex {
    display: flex;
}
.hidden-rwd {
    display: block;
    @media (min-width: $medium){
        display: none;
    };
}
.hidden-xs {
    display: none;
    @media (min-width: $medium){
        display: block;
    };
}
/* colonnes */

.col-12 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-11 {
    width:91.66%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-10 {
    width:83.33%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-9 {
    width:75%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-8 {
    width:66.66%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-7 {
    width:58.335%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-6 {
    width:48%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-5 {
    width:41.669%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-4 {
    width:33.33%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-3 {
    width:25%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-2 {
    width:16.67%;
    margin-left: 10px;
    margin-right: 10px;
}

.col-1 {
    width:8.337%;
    margin-left: 10px; 
    margin-right: 10px;
}

/* marges */

.col_center {
    margin: 0 auto;
}

.no_margin {
    margin-left: 0;
    margin-right: 0;
}